{
    "swagger": "2.0",
    "info": {
        "version": "2015-05-01-preview",
        "title": "SqlManagementClient",
        "description": "The Azure SQL Database management API provides a RESTful set of web APIs that interact with Azure SQL Database services to manage your databases. The API enables users to create, retrieve, update, and delete databases, servers, and other entities."
    },
    "host": "management.azure.com",
    "schemes": [
        "https"
    ],
    "paths": {
        "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Sql/servers/{serverName}/databases/{databaseName}/auditRecords": {
            "get": {
                "tags": [
                    "EngineAuditRecords"
                ],
                "description": "Get a list of database engine audit records.",
                "operationId": "EngineAuditRecords_List",
                "consumes": [],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "$ref": "#/parameters/SubscriptionIdParameter"
                    },
                    {
                        "name": "resourceGroupName",
                        "in": "path",
                        "description": "The name of the Resource Group to which the Azure SQL Database Server belongs.",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "serverName",
                        "in": "path",
                        "description": "The name of the Azure SQL Database Server on which the Azure SQL Database is hosted.",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "databaseName",
                        "in": "path",
                        "description": "The name of the Azure SQL Database for which database engine audit records are retrieved.",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "$filter",
                        "in": "query",
                        "required": false,
                        "type": "string",
                        "description": "The filter to apply on the operation."
                    },
                    {
                        "name": "api-version",
                        "in": "query",
                        "description": "Client Api Version.",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successfully retrieved the list of engine audit records.",
                        "schema": {
                            "$ref": "#/definitions/EngineAuditRecordResourceList"
                        }
                    },
                    "default": {
                        "description": "<b>Error Responses:</b><br/>400 InvalidEngineAuditRecordsQueryParameters - Invalid query parameters<br/>400 InvalidEngineAuditRecordsShowSystemLogsFilter - The ShowSystemLogs property only supports the equal (eq) operation<br/>400 InvalidEngineAuditRecordsEndTimeFilter - The EventTime property currently supports only the less than or equal (le) operation, designating the End Time.<br/>400 InvalidEngineAuditRecordsShowServerRecordsFilter - The ShowServerRecords property only supports the equal (eq) operation<br/>404 SourceDatabaseNotFound - The source database does not exist.<br/>404 SubscriptionDoesNotHaveServer - The requested server was not found<br/>405 DatabaseEngineAuditRecordsNotImplemented - Operations on database audit records are not enabled yet<br/>500 GetEngineAuditRecordsFailed - Failed to get audit records",
                        "schema": {
                            "$ref": "#/definitions/ArmErrorResponseMessage"
                        }
                    }
                },
                "deprecated": false,
                "x-ms-odata": "#/definitions/EngineAuditRecordsFilterParameters",
                "x-ms-pageable": {
                    "nextLinkName": "nextLink"
                }
            }
        }
    },
    "parameters": {
        "SubscriptionIdParameter": {
            "name": "subscriptionId",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Gets subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call."
        }
    },
    "definitions": {
        "ArmErrorResponseMessage": {
            "description": "Represents the error response details",
            "properties": {
                "error": {
                    "$ref": "#/definitions/ArmErrorResponseExtendedErrorInfo"
                }
            }
        },
        "ArmErrorResponseExtendedErrorInfo": {
            "description": "Contains detailed error information",
            "properties": {
                "details": {
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/ArmErrorResponseErrorDetail"
                    }
                },
                "innerError": {
                    "readOnly": true
                },
                "code": {
                    "readOnly": true,
                    "type": "string"
                },
                "message": {
                    "readOnly": true,
                    "type": "string"
                },
                "target": {
                    "readOnly": true,
                    "type": "string"
                }
            }
        },
        "ArmErrorResponseErrorDetail": {
            "description": "Details about a specific error",
            "properties": {
                "code": {
                    "readOnly": true,
                    "type": "string"
                },
                "message": {
                    "readOnly": true,
                    "type": "string"
                },
                "target": {
                    "readOnly": true,
                    "type": "string"
                }
            }
        },
        "EngineAuditRecordsFilterParameters": {
            "description": "The OData query parameters that are supported when retrieving Engine Auditing records",
            "properties": {
                "eventTime": {
                    "format": "date-time",
                    "type": "string"
                },
                "showSystemLogs": {
                    "type": "boolean"
                },
                "showServerRecords": {
                    "type": "boolean"
                }
            }
        },
        "EngineAuditRecordResourceList": {
            "description": "Represents a list of engine audit records",
            "properties": {
                "value": {
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/EngineAuditRecordResource"
                    }
                },
                "nextLink": {
                    "type": "string"
                }
            }
        },
        "EngineAuditRecordResource": {
            "description": "Represents an engine audit record",
            "properties": {
                "id": {
                    "readOnly": true,
                    "type": "string"
                },
                "name": {
                    "readOnly": true,
                    "type": "string"
                },
                "type": {
                    "readOnly": true,
                    "type": "string"
                },
                "location": {
                    "readOnly": true,
                    "type": "string"
                },
                "properties": {
                    "x-ms-client-flatten": true,
                    "$ref": "#/definitions/EngineAuditRecordResourceProperties"
                }
            }
        },
        "EngineAuditRecordResourceProperties": {
            "description": "Represents the properties of an Engine Audit Record resource",
            "properties": {
                "actionId": {
                    "readOnly": true,
                    "type": "string"
                },
                "principalName": {
                    "readOnly": true,
                    "type": "string"
                },
                "eventTimeUtc": {
                    "readOnly": true,
                    "type": "string"
                },
                "statement": {
                    "readOnly": true,
                    "type": "string"
                },
                "status": {
                    "readOnly": true,
                    "type": "string"
                },
                "additionalInfo": {
                    "readOnly": true,
                    "type": "string"
                },
                "clientIp": {
                    "readOnly": true,
                    "type": "string"
                }
            }
        }
    }
}